.section1{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.pretty{
    color: rgba(245, 163, 12, 0.897);
}
body{
    font-family: 'Pushster', cursive;
}
h1{
    font-size: 30px;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(rgb(247, 183, 66),rgba(247, 46, 10, 0.911));
    border-radius: 5%;
    padding: 10px 40px;
    font-weight: 500;
    color: white;

}